body {
    margin: 0;
    background-color: hsl(300, 25%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    width: 350px;
    height: 475px;
    background-color: hsl(300, 11%, 18%);
    border-radius: 1rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    color: #eee;
    font-family: sans-serif;
    overflow: clip;
}

#display {
    padding: 2.5rem 1rem 0.5rem 1rem;
    text-align: right;
    font-size: 4rem;
    overflow: scroll;
}

#buttons {
    display: grid;
    grid: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 1px;
    flex: auto;
}

button {
    border: 0;
    background-color: hsl(300, 5%, 35%);
    color: inherit;
    font-size: 2rem;
}

button:active {
    filter: brightness(1.5);
}

.operator:active {
    filter: brightness(0.85);
}

.double {
    grid-column-end: span 2;
}

.operator {
    background-color: hsl(0, 50%, 50%);
}

.function {
    background-color: hsl(300, 5%, 25%);
}

#plus-minus {
    font-size: 1.5rem;
}

#plus-minus-plus {
    vertical-align: 5px;
}

#plus-minus-minus {
    vertical-align: -5px;
}